html, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

h2, h4 {
  color: seashell;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: top;
  margin: 0 auto;
  padding-top: 70px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-bg {
  background-color: black;
  opacity: 0.9;
}

#main-content {
  padding-top: 69px;
}

/******************************************************
HEADER SECTION
******************************************************/

header {
  align-items: center;
  position: fixed;
  z-index: 20;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  text-align: left;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  text-align: right;
  flex-grow: 1;
}

header nav a {
  color: seashell;
  text-decoration: underline;
  display: inline-block;
  padding: 0 10px;
}

/******************************************************
MAIN BODY SECTION
******************************************************/

#mission {
  background-image: url("../images/mission-background.jpg");
  align-items: center;
  height: 700px;
  padding-top: 70px;
}

.title-text {
  width: 100%;
}

.title-text h2, h4 {
  margin: 0px;
  padding: 10px;
  color: seashell;
}

/******************************************************
TEA IMAGES
******************************************************/

#teas {
  width: 1000px;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  margin: 0 auto;
}

.tea-img {
  padding: 5px;
}

.tea-img img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.tea-img h4 {
  margin: 0;
  padding: 0;
}

/******************************************************
LOCATIONS
******************************************************/

#locations {
  background-image: url("../images/locations-background.jpg");
  height: 500px;
  margin-top: 70px;
  align-items: flex-start;
  flex-wrap: nowrap;
}

#location-content {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

#location-content h2 {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.locs {
  width: 280px;
  background-color: black;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px 20px;
}

.locs h3 {
  margin: 0;
  padding: 10px;
}

/******************************************************
BOTTOM CONTACT INFORMATION
******************************************************/

#bottom {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#bottom h2 {
  margin: auto;
}

#bottom h5 {
  padding: 10px;
  margin: auto;
}

footer {
  text-align: left;
  padding-left: 20px;
}
